@use 'variables' as v;
@import 'mixin';
.card{
    position: relative;
    width: 260px;
    height: 400px;
    padding: 15px 5px 5px 5px;
    margin: 0 auto;
    padding: 1rem 0;
    @include responsive-fs2 ("font-size");
    
    .card-img{
        width:180px;
        height: 170px;
        margin: 2rem auto 0 auto;
    }

    .card-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-title{
        @include responsive-fs2 ("font-size");
    }

    .fa-heart{
        top: 15px;
        color: v.$cp4;
    }
    
    .fa-cart-shopping,
    .fa-opencart{
        top: 50px;
        color: v.$cp3;
    }
    
    .fa-heart,
    .fa-cart-shopping,
    .fa-opencart{
        cursor: pointer;
        position: absolute;
        right: 5px;
        opacity: 75%;
    }
}

@media(max-width:520px){

    .card{
        width: 150px;
        height: 300px;
        padding: 15px 1px 0 1px;

        .card-img{
            margin-top: 10px;
            max-width: 130px;
            max-height: 120px;
        }

        .fa-cart-shopping,
        .fa-opencart,
        .fa-circle-info,
        .fa-heart{
            top: 12px;
        }

        .fa-cart-shopping,
        .fa-opencart{
            right: 5px;
        }
    
        .fa-heart{
            right: 30px;
        }
    }
}

@media(min-width:1500px){

    .card{
        width: 400px;
        height: 600px;
        padding: 30px 6px 0 6px;

        .card-img{
            margin-top: 30px;
            width: 280px;
            height: 250px;
        }

        .fa-cart-shopping,
        .fa-opencart,
        .fa-circle-info,
        .fa-heart{
            top: 30px;
        }

        .fa-cart-shopping,
        .fa-opencart{
            right: 10px;
        }

        .fa-circle-info{
            left: 10px;
        }

        .fa-heart{
            right: 75px;
        }
    }
}